/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Global Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

/* Color Variables */

:root {
    --lightPurple: #7D64FE;
    --darkPurple: #7860F3;
    --bigCircleGrey: #DEE1E6;
    --smallCircleRed: #FF6868;
    --formTextAndBorders: #CECECE;
    --mainWhite: #ffffff;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--lightPurple);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Background Circles Styling */

.leftPurpleCircle, .bigGreyCircle, .smallRedCircle {
    position: absolute;
    border-radius: 50%;
}

.leftPurpleCircle {
    height: 70%;
    width: 30%;
    background-color: var(--darkPurple);
    bottom: -10%;
    left: -15%;
}

.bigGreyCircle {
    height: 110%;
    width: 60%;
    background-color: var(--bigCircleGrey);
    right: -20%;
    bottom: -10%;
}

.smallRedCircle {
    height: 90%;
    width: 50%;
    background-color: var(--smallCircleRed);
    right: -20%;
    bottom: -10%;
}

/* Contact Section Styling */

.contactSections {
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

/* Left Section With H1 and Icons */

.leftSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}